.header{
    height:60px;
    display:flex;
    align-items:center;
    background-color:black;
    position: sticky;
    top:0;
    z-index:100; 
}
.header-logo{
    width:100px;
    height:30px;
    object-fit: contain;
    padding: 0 20px;
    margin-top:12px;
}
.header_search{
    display:flex;
    flex:1;
    align-items: center;
    border-radius: 20px;
}

.header_searchIcon{
    background-color: #cd9042;
}

